@import url('https://fonts.googleapis.com/css2?family=Inter&family=Julius+Sans+One&family=Kumar+One&display=swap');

.MenuTab,.botM,.tituloBot,.botTit,.grupo,.sub-grupo,.grupo2,.sub-grupo2{
    display: flex;
}

:root{
    --CorFonte:#525252;
    --CorTitu:#323232;
    --Caixatab:#FAFAFA;
    --Caixatab2:#D9D9D9;
}

body{
    background-color: #ECECEC;
}



/* Botões junto com título */
.tituloBot {
    justify-content: space-between;
}

.tituloBot > h3 {
    font-family: 'Kumar One', cursive;
    color: var(--CorTitu);
    font-size: 23px;
    padding-left: 92px;
}

button.botTit {
    border: none;
    height: fit-content;
}

.botTit {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: var(--CorFonte);
    text-decoration: none;
    
    border-radius: 8px;
    box-shadow: 0px 0px 1px #000000;
    background-color: var(--Caixatab);
    
    height: 24px;
    margin: 0px 41px;
    padding: 10px;
}


/* REAÇÕES DE BOTÕES */
.botTit:hover{
    background-color: #d1d1d1;
    transition: 0.3s;
}

/* TABELA */
.grupo,.grupo2 {
    white-space: nowrap;
}

.grupo{
    align-content: space-around;
    justify-content: space-between;
    height: auto;
    width: 70%;
}

.sub-grupo{
    font-family:'Julius Sans One', sans-serif;
    font-size: 18px;
    color: var(--CorFonte);
    
    width: 0px;
}

.grupo2 {
    align-content: space-around;
    justify-content: space-between;
    
    margin: 12px 0px;
    padding: 27px 81px 27px 8px;
    
    width: 93%;

    font-family: 'Inter', sans-serif;
    font-size: 13px;
    background-color: var(--Caixatab);
    color: var(--CorFonte);
    box-shadow: 0px 1px 3px #a9a8a8;
}

.sub-grupo2{
    width: 0px;
}

.sub-grupo2 > input {
    padding: 0px;
    margin: 0px;
    border: none;
    background: 0px;
    color: var(--CorFonte);
    font-size: 13px;
}

a.sub-grupo2 {
    text-decoration: none;
    color: var(--CorFonte);
}